
.bg_black{
  background: #000;
}
.logo_w{
  width: 126px;
}
@media screen and (min-width:992px){
  .log {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
  }
  .border-right{
    border-color:#f5f5f5;
  }
}
@media screen and (min-width:768px) and (max-width:991px) {
  .log {
    display: inline;
  }
  .border-right{
    border:none !important;
  }
}
@media screen and (max-width:767px) {
  .log {
    display: inline;
  }
  .border-right{
    border:none !important;
  }
}
.carousel-indicators li {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #fff;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #0aa1ed;
  width: 1.6rem;
  height: 0.6rem;
  border-radius: 0.6rem;
  transition: 1s;
}
.carousel-control-prev,
.carousel-control-next {
  width: 4%;
  height: 20%;
  background-color: rgba(0,0,0,0.9);
  border-radius: 0.5rem;
  top: 40%;
}
.pen_wg{
  width: 1.5rem;
}
.pen_wg2{
  width: 3rem;
}
.eye{
  width:1.2rem;
}
@media screen and (max-width:767px) {
  .h1 {
    font-size: 2rem;
  }
  .h4{
    font-size: 1.1rem;
  }
}
.card_shadow {
  box-shadow: 0px 0px 0px #000;
}
.card_shadow:hover{
  box-shadow: 0px 0px 6px #000;
}
.h_100{
  height: 100%;
}
@media screen and (max-width:767px) {
  .carousel-indicators li {
    width: 0.4rem;
    height: 0.4rem;
    background-color: #fff;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    border-radius: 50%;
  }

  .carousel-indicators .active {
    background-color: #0aa1ed;
    width: 1.2rem;
    height: 0.4rem;
    border-radius: 0.6rem;
    transition: 1s;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 6%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0.5rem;
    top: 40%;
  }
}
.big{
  transform: scale(1);
  transition: 1s;
}
.big:hover{
  transform: scale(1.03);
}
.retie_bg{
  background: linear-gradient(186deg,rgba(0,174,255,1) 0%,rgba(57,120,255,1) 100%);
}
.border-bottom{
  border-color: rgba(0,174,255,1);
}
.parnar_bg{
  background: #f1f1f3;
}
.img_r{
  position: relative;
}
.img_a{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 0%;
}
.img_r:hover>.img_a{
  height: 100%;
}
