@media screen and (min-width:992px) {
  .input_w{
    width:35%;
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
  .input_w {
    width: 50%;
  }
}

@media screen and (max-width:767px) {
  .input_w {
    width: 75%;
  }
}
.input_border {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}
.input1 {
  background-color: #fff;
  background-image: url(../image/login_07.png);
  background-repeat: no-repeat;
  background-position: 0.8rem 1.1rem;
}

.input2 {
  background-color: #fff;
  background-image: url(../image/login_08.png);
  background-repeat: no-repeat;
  background-position: 0.8rem 1.1rem;
}
.input3 {
  background-color: #fff;
  background-image: url(../image/login_06.png);
  background-repeat: no-repeat;
  background-position: 0.8rem 1.1rem;
}
.input4 {
  background-color: #fff;
  background-image: url(../image/login_09.png);
  background-repeat: no-repeat;
  background-position: 0.8rem 1.1rem;
}
.input5 {
  background-color: #fff;
  background-image: url(../image/login_10.png);
  background-repeat: no-repeat;
  background-position: -0.2rem 0rem;
}